@font-face {
  font-family: "GangwonEduSaeeum_OTFMediumA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url("이미지_잘먹는나/메인페이지_배경이미지-배경제거ver.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "GangwonEduSaeeum_OTFMediumA";
  margin-bottom: 50px;
}

div#모아보기 {
  font-size: 2.2em;
  font-weight: bold;

  position: absolute;
  top: 8%;
  left: 12%;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.conv {
  display: flex;
  flex: 0 0 calc(25% - 10px);
  text-align: center;
  font-size: 17px;
  white-space: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*세부 위치 조정*/
.conv h2,
.conv p {
  line-height: 10%;
}

.conv h2 {
  margin-top: 80px;
}

.conv p,
.conv ul {
  font-size: 1.1em;
}

/*gs, cu, 세븐일레븐 별 포스트잇 지정*/
#conv1,
#conv4,
#conv7 {
  background-size: 100%;
  background-image: url("포스트잇/포스트잇2.png");
  background-repeat: no-repeat;
  background-position: center;
}

#conv3,
#conv5,
#conv8 {
  background-size: 100%;
  background-image: url("포스트잇/포스트잇4.png");
  background-repeat: no-repeat;
  background-position: center;
}

#conv2,
#conv6 {
  background-size: 90%;
  background-image: url("포스트잇/포스트잇7.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* 버튼 */

button {
  width: auto;
  height: auto;
  border: none;
  background-color: transparent;

  font-family: "GangwonEduSaeeum_OTFMediumA";
  font-size: 1.2em;
  align-items: center;
}

button:hover {
  background-color: rgb(217, 244, 217);
  transition: 0.7s;
}
#but1 {
  display: block;

  position: absolute;
  bottom: 0%;
  right: 30%;
  border-radius: 100px;
}

#but1 img {
  width: 130px;
  height: auto;
}

#but2 {
  display: block;
  position: absolute;
  bottom: 0%;
  right: 15%;
  border-radius: 130px;
  padding: 0 15px;
}

#but2 img {
  width: 110px;
  height: auto;
}

/* header */
header .logo {
  position: absolute;
  display: block;
  top: -1px;
  width: 100%;
  left: 50%;
  padding: 0;
  margin: 0;
}

/* 날짜 js */
p#jsdate {
  font-family: GangwonEduSaeeum_OTFMediumA;
  font-size: 40px;
  position: absolute;
  top: 40px;
  right: 200px;
}

/*인덱스 포스트잇*/
#index {
  height: 50px;
  width: auto;
  margin: 0;
  padding: 0;

  position: absolute;
  top: 30%;
  right: 0.9%;
}
