@font-face {
  font-family: "GangwonEduSaeeum_OTFMediumA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "GangwonEduSaeeum_OTFMediumA";
  background-image: url("이미지_잘먹는나/메인페이지_배경이미지-배경제거ver.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

h1 {
  position: absolute;
  font-size: 3em;
  top: 10%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: center;

  background-image: url("형광펜/빨간색하이라이트.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 220px 60px;
  opacity: 0.9;
}

p {
  position: absolute;
  top: 25%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 24px;
}

nav {
  position: absolute;
  top: 30%;
  left: 10%;
  transform: translate(-30%, -30%);
  text-align: center;
  line-height: 1.5em;
  padding: 10px;
}

ul {
  margin: 50px;
  padding: 150px;
  list-style: none;
}

li {
  display: block;
  margin-bottom: 30px;
  padding: 20px;
}

a {
  color: #000000;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  transition: all 0.2s ease;
}

p#jsdate {
  font-size: 40px;
  position: absolute;
  top: 50px;
  left: 1000px;
  /* right: 가 안되는 이유는? */
}

/* header */
header .logo {
  position: absolute;
  display: block;
  top: -1px;
  width: 100%;
  left: 50%;
  padding: 0;
  margin: 0;
}

#맛집지도:hover {
  background-image: url("형광펜/보라색하이라이트.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 220px 60px;
  opacity: 0.9;
}

#편의점지도:hover {
  background-image: url("형광펜/초록색하이라이트.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 220px 60px;
  opacity: 0.9;
}

/*인덱스 포스트잇*/
#index {
  position: absolute;
  top: 30%;
  right: 0.9%;
}

#tag {
  position: absolute;
  top: 30.8%;
  left: 87%;
  opacity: 0.5;
  font-weight: bold;
}

p#jsdate {
  font-family: GangwonEduSaeeum_OTFMediumA;
  font-size: 40px;
  position: absolute;
  top: 60px;
  left: 80%;
}
