@font-face {
  font-family: "GangwonEduSaeeum_OTFMediumA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "GangwonEduSaeeum_OTFMediumA";
  background-image: url("이미지_잘먹는나/메인페이지_배경이미지-배경제거ver.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

h1 {
  position: absolute;
  font-size: 3em;
  top: 10%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
}

p {
  position: absolute;
  top: 25%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 24px;
}

nav {
  position: absolute;
  top: 30%;
  left: 10%;
  transform: translate(-30%, -30%);
  text-align: center;
  line-height: 1.5em;
  padding: 10px;
}

ul {
  margin: 50px;
  padding: 150px;
  list-style: none;
}

li {
  display: block;
  margin-bottom: 30px;
  padding: 20px;
}

a {
  color: #000000;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  transition: all 0.2s ease;
}

p#jsdate {
  font-size: 40px;
  position: absolute;
  top: 50px;
  left: 1000px;
  /* right: 가 안되는 이유는? */
}
