@font-face {
  font-family: "GangwonEduSaeeum_OTFMediumA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url("이미지_잘먹는나/메인페이지_배경이미지-배경제거ver.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "GangwonEduSaeeum_OTFMediumA";
  margin-bottom: 50px;
}

header {
  position: absolute;
  top: 16%;
  left: 22%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  text-align: center;
}

header h1 {
  background-image: url("형광펜/초록색하이라이트.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 220px 50px;
  opacity: 0.9;
}

.logo {
  position: absolute;
  display: block;
  top: -1px;
  width: 100%;
  left: 50%;
  padding: 0;
  margin: 0;
  z-index: 1;
}

/*지도, 포스트잇 크기 및 위치*/
img#map {
  max-width: 80%;
  height: 110%;
  top: 2%;
  left: 18%;
  position: absolute;
}

img#postit {
  width: 30%;
  height: auto;
  position: absolute;
  top: 30%;
  right: 12%;
}

#postit_text {
  position: absolute;
  top: 45%;
  right: 22%;

  font-size: 2em;
}

/*포인터 클릭 문구*/

p#tryclick {
  font-size: 1.5em;
  color: rgb(49, 132, 70);
  text-align: center;

  position: absolute;
  top: 30%;
  left: 14%;
}

img#tryclick_img {
  width: 50px;
  height: auto;

  position: absolute;
  top: 42%;
  left: 18%;
}

/*인덱스 포스트잇*/
#index {
  height: 300px;
  width: auto;

  position: absolute;
  top: 5%;
  right: -2%;
}

/*포인터 크기 및 위치 설정*/
.poi {
  width: 2%;
  height: auto;
}

#poi1 {
  position: absolute;
  top: 36.5%;
  left: 34.4%;
}

#poi2 {
  position: absolute;
  top: 37%;
  left: 45%;
}

#poi3 {
  position: absolute;
  top: 57%;
  left: 29.5%;
}

#poi4 {
  position: absolute;
  top: 60%;
  left: 36%;
}

#poi5 {
  position: absolute;
  top: 65%;
  left: 42%;
}

#poi6 {
  position: absolute;
  top: 58%;
  left: 53%;
}

#poi7 {
  position: absolute;
  top: 84%;
  left: 40.5%;
}

#poi8 {
  position: absolute;
  top: 25%;
  left: 43.3%;
}

/*찐최종
1. 이미지와 텍스트를 감싸는 전체 div - 백그라운드이미지, 크기 설정
2. 텍스트 div - transform으로 위치 맞춰주기, 크기 설정, 스크롤바*/
.int_img {
  background-image: url("식당편의점 간단소개/초록.png");
  background-size: 300px;
  background-position: center;
  background-repeat: no-repeat;

  width: 200px;
  height: 200px;
}

.int {
  width: 150px;
  height: 150px;

  text-align: center;

  transform: translate(17%, 15%);

  overflow: auto;
}
.int h5 {
  font-size: 1.3em;
}

/* 각 팝업 위치 설정 */
#int_img1 {
  position: absolute;
  top: 15%;
  left: 19%;
}

#int_img2 {
  position: absolute;
  top: 18%;
  left: 48%;
}

#int_img3 {
  position: absolute;
  top: 50%;
  left: 13%;
}

#int_img4 {
  position: absolute;
  top: 65%;
  left: 30%;
}

#int_img5 {
  position: absolute;
  top: 65%;
  left: 44%;
}

#int_img6 {
  position: absolute;
  top: 50%;
  left: 55%;

  z-index: 1;
}

#int_img7 {
  position: absolute;
  top: 80%;
  left: 42%;
}

#int_img8 {
  position: absolute;
  top: 13%;
  left: 45%;
}

.int_img {
  display: none;
}

/*img에 hover 효과가 적용되지 않음 - div여야 함*/

.loc:hover .poi {
  transform: scale(1.5);
  transition: 0.5s ease;
}

/* 날짜 js */
p#jsdate {
  font-family: GangwonEduSaeeum_OTFMediumA;
  font-size: 40px;
  position: absolute;
  top: 40px;
  right: 200px;
}
