@font-face {
    font-family: 'GangwonEduSaeeum_OTFMediumA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  header .logo {
    position: absolute;
    display: block;
    top: 0;
    left: 45%;
  }
  
  body {
    background-image: url("메인페이지_배경이미지-배경제거ver.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'GangwonEduSaeeum_OTFMediumA';
    padding: 20px;
  }
  
  h1 {
    position: absolute;
    top: 12%;
    left: 15%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 42px;
    margin-bottom: 20px;
  }
  
  p{
    position: absolute;
  }
  
  #intro {
    font-size: 24px;
    top: 25%;
    left: 12%;
  }

  h2 {
    position: absolute;
    top: 42%;
    left: 18%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 42px;
    margin-bottom: 20px;
  }
  
  
  #step {
    font-size: 24px;
    margin-top: 30px;
    top: 50%;
    left: 12%;
  }
  
  #advice {
    font-size: 24px;
    margin-top: 20px;
    top: 82%;
    left: 12%;
  }

  h3 {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  #timer {
    width: 300px;
    height: 250px;
  }

  img#index1 {
    position: absolute;
    top: 14%;
    left: 84%;
    cursor: pointer;
  }
  
  #tag1 {
    position: absolute;
    left: 88%;
    top: 21%;
    font-size: 1.4em;
    color: darkgrey;
    font-style: italic;
  }

  #currentDate {
    position: absolute;
    top: 8%;
    left: 75%;
    font-size: 36px;
  }