@font-face {
  font-family: 'GangwonEduSaeeum_OTFMediumA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

header {
  position: absolute;
  top: 2%;
  left: 18%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 24px;
}

body {
  background-image: url("맵_배경이미지-배경제거_long.ver.png");
  background-repeat: no-repeat;
  background-size: 85%;
  font-family: 'GangwonEduSaeeum_OTFMediumA';
}

.scroll-container {
  width: 160px;
  height: 250px;
  overflow-y: scroll;
  position: absolute;
  left: 82%;
  top: 55%;
}

.scroll-container::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #eeff8b;
}

.scroll-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.scroll-container::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

.scroll-container::-webkit-scrollbar-track:horizontal {
  background-color: transparent;
}

#index{
  background-color: darkgray;
  font-family: 'GangwonEduSaeeum_OTFMediumA';
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

#pharmacy1,
#pharmacy2,
#pharmacy3,
#pharmacy4,
#pharmacy5,
#pharmacy6,
#pharmacy7,
#pharmacy8,
#pharmacy9,
#pharmacy10,
#pharmacy11 {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-family: 'GangwonEduSaeeum_OTFMediumA';
  font-size: 28px;
  text-align: center;
}

#pharmacy1:hover,
#pharmacy4:hover,
#pharmacy7:hover,
#pharmacy10:hover {
  background-color: #d4f5d6;
}

#pharmacy2:hover,
#pharmacy5:hover,
#pharmacy8:hover,
#pharmacy11:hover {
  background-color: #c4f6ee;
}

#pharmacy3:hover,
#pharmacy6:hover,
#pharmacy9:hover {
  background-color: #f4d1d1;
}


#marker1 {
  display: none;
  position: absolute;
  top: 40%;
  left: 38%;
  width: 40px;
  height: 40px;
}

#marker2 {
  display: none;
  position: absolute;
  top: 45%;
  left: 36%;
  width: 40px;
  height: 40px;
}

#marker3 {
  display: none;
  position: absolute;
  top: 32%;
  left: 19%;
  width: 40px;
  height: 40px;
} /*더밝은*/


#marker4 {
  display: none;
  position: absolute;
  top: 50%;
  left: 34.5%;
  width: 40px;
  height: 40px;
}



#marker5 {
  display: none;
  position: absolute;
  top: 30%;
  left: 10%;
  width: 40px;
  height: 40px;
} /*비트플렉스*/


#marker6 {
  display: none;
  position: absolute;
  top: 43%;
  left: 17%;
  width: 40px;
  height: 40px;
} /*설약국*/


#marker7 {
  display: none;
  position: absolute;
  top: 61%;
  left: 32%;
  width: 40px;
  height: 40px;
} /*한양*/


#marker8 {
  display: none;
  position: absolute;
  top: 47%;
  left: 34%;
  width: 40px;
  height: 40px;
} /*종로*/


#marker9 {
  display: none;
  position: absolute;
  top: 49%;
  left: 35%;
  width: 40px;
  height: 40px;
} /*후문*/
 

#marker10 {
  display: none;
  position: absolute;
  top: 90%;
  left: 42%;
  width: 40px;
  height: 40px;
} /*정문*/


#marker11 {
  display: none;
  position: absolute;
  top: 40%;
  left: 35%;
  width: 40px;
  height: 40px;
} /*혜민*/

img#index1 {
  position: absolute;
  top: 12%;
  left: 70%;
  cursor: pointer;
}

#tag1 {
  position: absolute;
  left: 73%;
  top: 20%;
  font-size: 1.4em;
  color: darkgrey;
  font-style: italic;
}

img#index2 {
  position: absolute;
  left: 70%;
  top: 22%;
  cursor: pointer;
}

#tag2 {
  position: absolute;
  left: 73%;
  top: 29%;
  font-size: 1.4em;
  color: darkgrey;
  font-style: italic;
}
