@font-face {
  font-family: 'GangwonEduSaeeum_OTFMediumA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



body {
    background-image: url("메인페이지_배경이미지-배경제거_long.ver.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'GangwonEduSaeeum_OTFMediumA';
  }
  
  
  h2 {
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 48px;
    margin-bottom: 20px;
  }

  a {
    position: absolute;
    top: 6%;
    left: 83%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }

  


  
  nav {
    position: absolute;
    top: 85%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1em;
  }

  ul {
    margin: 10px 0;
    padding: 120px 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px 0;
    width: 130%;
  }
  
  li {
    flex: 0 0 calc(25% - 10px);
    text-align: center;
    font-size: 24px;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    line-height: 30px;
  }

  li.pink {
    background-image: url('포스트잇핑크_수정.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 280px;
  }
  
  li.yellow {
    background-image: url('포스트잇노랑_수정.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 280px;
  }
  
  li.skyblue {
    background-image: url('포스트잇하늘_수정.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 280px;
  }
  
  li.green {
    background-image: url('포스트잇그린_수정.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 280px;
  }
  
  #Mapmark {
    position: absolute;
    top: 0%;
    left: 80%;
    display: inline-block;
    width: 200px;
    height: 100px;
    background-image: url('Mapmark.png');
    background-size: cover;
  }