@font-face {
  font-family: "GangwonEduSaeeum_OTFMediumA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.box {
  position: relative;
  width: 90%;
}
.box::before {
  content: "";
  display: block;
  padding-top: 50%;
}
.content {
  position: absolute;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 180px;
  font-family: GangwonEduSaeeum_OTFMediumA;
  letter-spacing: 1px;
  line-height: 150%;
  font-size: 40px;
}
body {
  background-image: url("메인페이지_배경이미지.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'GangwonEduSaeeum_OTFMediumA';
  margin-top: 80px;
  margin-bottom: 50px;
}

p#jsdate {
  font-family: GangwonEduSaeeum_OTFMediumA;
  font-size: 40px;
  position: absolute;
  top: 40px;
  right: 200px;
}

h1 {
  font-family: GangwonEduSaeeum_OTFMediumA;
  letter-spacing: 1px;
  line-height: 150%;
  font-size: 50px;
  position: absolute;
  top: 35px;
  left: 175px;
}

h3 {
  font-style: italic;
  margin-top: -40px;
}

#purple:hover {
  background-image: url('보라색하이라이트.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 170px;
}
#yellow:hover {
  background-image: url('노란색하이라이트.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 160px;
}
#red:hover {
  background-image: url('빨간색하이라이트.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 160px;
}

#blue:hover {
  background-image: url('파란색하이라이트.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 160px;
}
#lightblue:hover {
  background-image: url('하늘색하이라이트.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 160px;
}
#green:hover {
  background-image: url('초록색하이라이트.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 160px;
}
#orange:hover {
  background-image: url('주황색하이라이트.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 160px;
}
#gray:hover {
  background-image: url('회색하이라이트.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 160px;
}
#brown:hover {
  background-image: url('갈색하이라이트.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 160px;
}

img#index{
  position: absolute;
  left: 79%;
  bottom: 40%;
  cursor: pointer;
}
p#tag{
  position: absolute;
  left: 83%;
  bottom: 64%;
  font-size: 2em;
  color:darkgrey;
  font-style:italic;
}

img#index_s{
  cursor: pointer;
  position: absolute;
  left: 80%;
  bottom: 40%;
}