/* 식당 사진 위치 */

#img2 {
  width: 350px;
  height: auto;

  position: absolute;
  top: 18%;
  right: 10%;
}

#img1 {
  width: 500px;
  height: auto;

  position: absolute;
  top: 40%;
  right: 22%;

  z-index: 1;
}

#menu_title {
  position: absolute;
  top: 70%;
  left: 12%;
}

#menu {
  font-size: 1.8em;
  position: absolute;
  top: 79%;
  left: 12%;
}
