#img1 {
  width: 48%;
  height: auto;
  position: absolute;
  right: 3%;
  top: 13%;
}

#menu_title {
  position: absolute;
  top: 67%;
  left: 12%;
}

#menu {
  font-size: 1.8em;
  position: absolute;
  top: 76%;
  left: 12%;
}

#time_title {
  position: absolute;
  top: 46%;
  left: 12%;
}

#time {
  font-size: 1.8em;
  position: absolute;
  top: 50%;
  left: 12%;
}
