#menu_title {
  position: absolute;
  top: 64%;
  left: 12%;
}

#menu {
  font-size: 1.8em;
  position: absolute;
  top: 73%;
  left: 12%;
}

#img1 {
  width: 45%;
  height: auto;
  position: absolute;
  right: 5.5%;
  top: 15.2%;
}
