#menu_title {
  position: absolute;
  top: 63%;
  left: 12%;
}

#menu {
  font-size: 1.8em;
  position: absolute;
  top: 71%;
  left: 12%;
}

#time_title {
  position: absolute;
  top: 44%;
  left: 12%;
}

#time {
  font-size: 1.8em;
  position: absolute;
  top: 47%;
  left: 12%;
}

#img1 {
  width: 42%;
  height: auto;
  position: absolute;
  right: 5.5%;
  top: 21.5%;
}
